<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Cattu -test</title>
<link rel="stylesheet" href="/public/styl.css">
</head>

<body>

<div id="poraDnia">
	<div id="bgchange">
	
	
<div class="main">

	<form method="POST" action="script2.php">
	
	Podaj tytuł piosenki<br>
	<input type="text" id="tytul" name="tytul"><br><br>
	
	
	W jakim Jesteś nastroju?<br>
	<input type="checkbox" id="wesoly" name="wesoly">
	<label for="wesoly"> Wesoły </label><br>
	
	<input type="checkbox" id="smutny" name="smutny">
	<label for="smutny"> Smutny </label><br><br>
	
	
	<label for="pora"> Podaj porę dnia </label><br>
	<select name="pora" id="pora">
		<option value="rano">Rano</option>
		<option value="w_poludnie">W południe</option>
		<option value="wieczorem">Wieczorem</option>
		<option value="w_nocy">W nocy</option>
	</select><br><br>
	
	
	<button type="submit" class="submit">Skończone!</button>
	
	</form>





</div>


<div class="content">

	<div class="ksiezyc_tlo">
		<div class="ksiezyc_baza">
			<div class="ksiezyc_srodek"></div>
		</div>
	</div>
	
</div>

<div class="info">


	<!-- Tutaj chcemy pobierać dane z bazy żeby móc je wyświetlić (pobierać może zewnętrzny skrypt) -->
	*Dane pobrane z bazy*

	
</div>
	</div>
</div>

<script src="script1.js"></script>

</body>

</html>