body{
	margin: auto 0;
	font-family : Arial Black;
}
#poraDnia{
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
}
.main{
	display: flex;
	position: relative;
	float: left;
	background-image: linear-gradient(135deg, #0af, #0ff);
	margin:35px;
	padding : 40px;
	border-style: dashed;
	border-color: #000;
	border-width: 4px;
	border-radius: 10px;
	width: 25%;
	height:800px;
	transition: transform 0.5s;
	box-shadow: 15px 15px 10px;
} /*
.main:hover{
	transform: rotate(2deg);
} */
/*.main::before{
	content: "";
	display: flex;
	position: absolute;
	background-image: linear-gradient(135deg, #0af, #0ff);
	border-style: dashed;
	border-color: #000;
	border-width: 4px;
	border-radius: 10px;
	width:100%;
	height:800px;
	transition: transform 0.5s;
	transform: translate(-4px,-4px)
} 
.main:hover::before{
	transform: rotate(-7deg);
}*/
.content{
	display: flex;
	position: relative;
	float: left;
	margin:35px;
	width: 35%;
	height: 800px;
	padding: 0;
} 
.info{
	display: flex;
	position: relative;
	float: right;
	margin: 35px;
	padding : 40px;
	background-image: linear-gradient(135deg, #0af, #0ff);
	text-align: center;
	border-style: dashed;
	border-color: #000;
	border-width: 4px;
	border-radius: 10px;
	width:15%;
	height:800px;
	box-shadow: 15px 15px 10px;
}
.ksiezyc_tlo{
	position: relative;
	display: flex;
	float: left;
	background: darkblue;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: width 1s, height 1s, transform 1s;
}
.ksiezyc_baza{
	position: absolute;
	display: flex;
	float: left;
	background: #fff;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	box-shadow: 5px 5px 15px #fff;
	border-style: none;
}
.ksiezyc_srodek{
	position: absolute;
	display: flex;
	float: right;
	background: darkblue;
	width: 70%;
	height: 70%;
	border-radius: 50%;
}
.ksiezyc_tlo:hover{
	transform: rotate(135deg); 
	width: 350px;
	height: 350px;
}
.submit{
	background: #0ff;
}